// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// @font-face {
//     font-family: Merriweather-Regular;
//     src: local('Merriweather-Regular.ttf');
//     }

// @font-face {
//     font-family: Miller-Display_30501;
//     src: local('assets/fonts/Miller-Display_30501.ttf');
//     }

@font-face {
    font-family: 'Montserrat-Bold';
    src: local('assets/fonts/Montserrat-Bold.ttf');
    }

// @font-face {
//     font-family: Montserrat-Regular;
//     src: local('assets/fonts/Montserrat-Regular.ttf');
//     }

// Utils
@import './utils/variables';
@import './utils/mixin.scss';

// base
@import './base/reset';
// @import './base/typography';
@import './base/margin';
@import './base/padding';

// Homepgae
@import './pages/homepage.scss';

// Vh
.vh_10{
    height: 10vh;
}

.vh_50{
    height: 50vh;
}

.vh_80{
    height: 80vh;
}

.vh_90{
    height: 90vh;
}

.vh_95{
    height: 95vh;
}

.vh_100{
    height: 100vh;
}



// Transofrm
.text_uppercase{
    text-transform: uppercase;
}

.text_capital{
    text-transform: capitalize;
}

.text_center{
    text-align: center;
}

.text_right{
    text-align: right;
}

.text_middle{
    vertical-align: middle;
}

// Flex
.d_flex{
    @include flexbox;
}

.align_center{
    align-items: center;
}

.flex_between{
    @include justify-content($value: space-between)
}

.flex_column{
    @include flex-direction($direction: column);
}

.flex_center{
    justify-content: center;
}

.flex_wrap{
    flex-wrap: wrap;
}

.flex_around{
    justify-content: space-around;
}

.align_self_end{
    align-self: flex-end;
}

.justify_self_start{
    justify-self: start;
}

// Width
.w_5{
    width: 5%;
}

.w_15{
    width: 15%;
}

.w_20{
    width: 20%;
}

.w_25{
    width: 25%;
}

.w_30{
    width: 30%;
}

.w_40{
    width: 40%;
}

.w_50{
    width: 50%;
}

.w_60{
    width: 60%;
}

.w_70{
    width: 70%;
}

.w_75{
    width: 75%;
}

.w_80{
    width: 80%;
}

.w_90{
    width: 90%;
}

.w_100{
    width: 100%;
}

.w_300px{
    width: 300px;
}

.w_600px{
    width: 600px;
}

// Height
.h_50{
    height: 50%;
}

.h_100{
    height: 100%;
}

// Text-color
.text_white{
    color: white;
}

.gold{
    color: #e5ded6;
}

.gray{
    color: #a7a8b1;
}

// Background-color
.bg_beige{
    background-color: #d0c5b6;
}

.bg_white{
    background-color: white;
}

.bg_light_gray{
    background-color: #f8f8f8;
}

.m_0{
    margin: 0;
}

.m_0_auto{
    margin: 0 auto;
}

//Font-size
.fs_06{
    font-size: 0.6rem;
}

.fs_1_08{
    font-size: 1.8rem;
}

.fs_1_02{
    font-size: 1.2rem;
}

.fs_1_05{
    font-size: 1.5rem;
}

.fs_1{
    font-size: 1rem;
}

.fs_2{
    font-size: 2rem;
}

.fs_3{
    font-size: 3rem;
}

.fs_4{
    font-size: 4rem;
}

.middle {
    width: 800px;
    height: 600px;
}

.text_primary{
    color: blue;
}

// Margin
.ml-200{
    margin-left: 200px;
}

.bg_apple_desk{
    background-image: require('../../img/gabriel-beaudry-ntX2TjKrzLc-unsplash.jpg');
}

.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}

.mt-200{
    margin-top: 200px;
} 

.ml-230{
    margin-left: 230px;
}

.mt-170{
    margin-top: 170px;
} 

.ml-200{
    margin-left: 200px;
}

.ml-4{
    margin-left: 4px;
}

.henry_london_black{
    background-color: rgba(2,2,2,255);
}

.btn{
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

.btn_gold{
    background-color: transparent;
    border: 1px solid #e5ded6;;
    cursor: pointer;
}

.border_search{
    width: 100px;
    border-bottom: 1px solid black;
    margin-right: 5px;
}

.container_main{
    width: 90%;
    margin: 0 auto;
}

.mlr_auto{
    margin-left: auto;
    margin-right: auto;
}

.main_slider{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    right: 40px;
    transform: translate(-50%,-50%);
    padding: 4px 4px;
    &:hover {
        cursor: pointer;
    }  
}

.mt-210{
    margin-top: 210px;
}

.mt-190{
    margin-top: 195px;
}


.p-0{
    padding: 0;
}

.t_0{
    top: 0;
}

.h_400{
    height: 500px;
}

.ml-190{
    margin-left: 190px;
}

.pointer:hover{
    cursor: pointer;
}