// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// @font-face {
//     font-family: Merriweather-Regular;
//     src: local('Merriweather-Regular.ttf');
//     }

// @font-face {
//     font-family: Miller-Display_30501;
//     src: local('assets/fonts/Miller-Display_30501.ttf');
//     }

@font-face {
    font-family: 'Montserrat-Bold';
    src: local('assets/fonts/Montserrat-Bold.ttf');
    }

// @font-face {
//     font-family: Montserrat-Regular;
//     src: local('assets/fonts/Montserrat-Regular.ttf');
//     }

// Utils
@import './utils/variables';
@import './utils/mixin.scss';

// base
@import './base/reset';
// @import './base/typography';
@import './base/margin';
@import './base/padding';

// Homepgae
@import './pages/homepage.scss';

// Vh
.vh_100{
    height: 100vh;
}

.vh_10{
    height: 10vh;
}

// Transofrm
.text_uppercase{
    text-transform: uppercase;
}

// Flex
.d_flex{
    @include flexbox;
}

.align_center{
    align-items: center;
}

.flex_between{
    @include justify-content($value: space-between)
}

.flex_column{
    @include flex-direction($direction: column);
}

.flex_center{
    justify-content: center;
}

// Width
.w_5{
    width: 5%;
}

.w_15{
    width: 15%;
}

.w_20{
    width: 20%;
}

.w_30{
    width: 30%;
}

.w_70{
    width: 70%;
}


.w_80{
    width: 80%;
}

.w_90{
    width: 90%;
}

.w_100{
    width: 100%;
}

.w_300px{
    width: 300px;
}

// Height
.h_100{
    height: 100%;
}

// Text-color
.text_white{
    color: white;
}

// Background-color
.bg_beige{
    background-color: #d0c5b6;
}

.m_0{
    margin: 0;
}

.m_0_auto{
    margin: 0 auto;
}

//Font-size
.fs_06{
    font-size: 0.6rem;
}

.fs_1_08{
    font-size: 1.8rem;
}

.fs_1_02{
    font-size: 1.2rem;
}

.fs_1{
    font-size: 1rem;
}

.middle {
    width: 800px;
    height: 600px;
}

.text_primary{
    color: blue;
}