// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: 'Merriweather-Regular';
    src: local('Merriweather-Regular.ttf');
    }

@font-face {
    font-family: 'Miller-Display_30501';
    src: local('assets/fonts/Miller-Display_30501.ttf');
    }

@font-face {
    font-family: 'Montserrat-Bold';
    src: local('assets/fonts/Montserrat-Bold.ttf');
    }

@font-face {
    font-family: 'Montserrat-Regular';
    src: local('assets/fonts/Montserrat-Regular.ttf');
    }

// Utils
@import './utils/variables';
@import './utils/mixin.scss';

// base
@import './base/reset';
// @import './base/typography';
@import './base/margin';
@import './base/padding';

// Homepgae
@import './pages/homepage.scss';

// Vh
.vh_10{
    height: 10vh;
}

.vh_15{
    height: 15vh;
}

.vh_50{
    height: 50vh;
}

.vh_80{
    height: 80vh;
}

.vh_90{
    height: 90vh;
}

.vh_95{
    height: 95vh;
}

.vh_100{
    height: 100vh;
}

.vh_130{
    height: 130vh;
}

// Transofrm
.text_uppercase{
    text-transform: uppercase;
}

.text_capital{
    text-transform: capitalize;
}

.text_center{
    text-align: center;
}

.text_right{
    text-align: right;
}

.text_middle{
    vertical-align: middle;
}

// Flex
.d_flex{
    @include flexbox;
}

.align_center{
    align-items: center;
}

.flex_between{
    @include justify-content($value: space-between)
}

.flex_column{
    @include flex-direction($direction: column);
}

.flex_center{
    justify-content: center;
}

.flex_wrap{
    flex-wrap: wrap;
}

.flex_around{
    justify-content: space-around;
}

.align_self_end{
    align-self: flex-end;
}

.justify_self_start{
    justify-self: start;
}

// Width
.w_5{
    width: 5%;
}

.w_15{
    width: 15%;
}

.w_20{
    width: 20%;
}

.w_25{
    width: 25%;
}

.w_30{
    width: 30%;
}

.w_40{
    width: 40%;
}

.w_50{
    width: 50%;
}

.w_60{
    width: 60%;
}

.w_70{
    width: 70%;
}

.w_75{
    width: 75%;
}

.w_80{
    width: 80%;
}

.w_90{
    width: 90%;
}

.w_100{
    width: 100%;
}

.w_150px{
    width: 150px;
}

.w_200px{
    width: 200px;
}

.w_280px{
    width: 280px;
}

.w_300px{
    width: 300px;
}

.w_350px{
    width: 350px;
}

.w_400px{
    width: 400px;
}

.w_600px{
    width: 600px;
}

.w_2{
    width: calc(100% / 2);
}

// Height
.h_30{
    height: 30%;
}

.h_40{
    height: 40%;
}

.h_50{
    height: 50%;
}

.h_60{
    height: 60%;
}

.h_70{
    height: 70%;
}

.h_100{
    height: 100%;
}

.h_30{
    height: 30%;
}

.h_60{
    height: 60%;
}

.h_400{
    height: 500px;
}

// Text-color
.text_white{
    color: white;
}

.gold{
    color: #e5ded6;
}

.bg_gold{
    background-color: #e5ded6;
}

.gray{
    color: #a7a8b1;
}

.text_black{
    color: black;
}

// Background-color
.bg_beige{
    background-color: #d0c5b6;
}

.bg_white{
    background-color: white;
}

.bg_light_gray{
    background-color: #f8f8f8;
}

// Margin
.m_0{
    margin: 0;
}

.ml-neg{
    margin-left: -100px;
}

.mt-180 {
    margin-top: 180px;
}

.mt-220 {
    margin-top:220px;
}

.m_0_auto{
    margin: 0 auto;
}

.ml-200{
    margin-left: 200px;
}

.mt-200{
    margin-top: 200px;
} 

.ml-230{
    margin-left: 230px;
}

.mt-170{
    margin-top: 170px;
} 

.ml-200{
    margin-left: 200px;
}

.ml-4{
    margin-left: 4px;
}

.mt-210{
    margin-top: 210px;
}

.mt-190{
    margin-top: 195px;
}

.mlr_auto{
    margin-left: auto;
    margin-right: auto;
}

.ml-190{
    margin-left: 190px;
}

.ml-2{
    margin-left: 2px;
}

//Font-size
.fs_06{
    font-size: 0.6rem;
}

.fs_1_08{
    font-size: 1.8rem;
}

.fs_1_02{
    font-size: 1.2rem;
}

.fs_1_05{
    font-size: 1.5rem;
}

.fs_1{
    font-size: 1rem;
}

.fs_2{
    font-size: 2rem;
}

.fs_3{
    font-size: 3rem;
}

.fs_4{
    font-size: 4rem;
}

// Position
.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}

.middle {
    width: 800px;
    height: 600px;
}

.text_primary{
    color: blue;
}

.bg_apple_desk{
    background-image: require('../../img/gabriel-beaudry-ntX2TjKrzLc-unsplash.jpg');
}

.henry_london_black{
    background-color: rgba(2,2,2,255);
}

.decoration_none{
    text-decoration: none;
}

.btn{
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

.btn_gold{
    background-color: transparent;
    border: 1px solid #e5ded6;;
    cursor: pointer;
}

.border_search{
    width: 100px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    margin-right: 5px;
}

.container_main{
    width: 90%;
    margin: 0 auto;
}

.main_slider{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    right: 40px;
    transform: translate(-50%,-50%);
    padding: 4px 4px;
    &:hover {
        cursor: pointer;
    }  
}

.p-0{
    padding: 0;
}

.t_0{
    top: 0;
}

.pointer:hover{
    cursor: pointer;
}

.container_footer{
    width: 70%;
    margin: 0 auto;
}

.opa_05{
    opacity: 0.5;
}

.opa_06_hov:hover{
    opacity: 0.6;
}

.d_none{
    display: none;
}

.d_inline_block{
    display: inline-block;
}

// Dropdown
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .b_none{
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
  }

.b_bottom{
    border-bottom: 1px solid black;
}

// Select
.custom-select {
    position: relative;
  }

  
  .select-selected {
    background-color: #f9f9f9;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 300px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  
  /* style the items (options), including the selected item: */
  .select-items,.select-selected {
    color: #ffffff;
    padding: 8px 8px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: rgba(227, 207, 139, 0.679);
    top: 100%;
    left: -300px;
    right: 300px;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

// Media query
@media  screen and (max-width: 2766px) {
    .d_none_2766px{
        display: none;
    }

    .d_block_2766px{
        display: block;
    }
}

@media  screen and (max-width: 2200px) {
    .d_none_2200{
        display: none;
    }

    .d_block_2200{
        display: block;
    }
}

@media  screen and (max-width: 2000px) {
    .d_none_2000{
        display: none;
    }

    .d_block_2000{
        display: block;
    }
}

@media  screen and (max-width: 1615px) {
    .d_none_1615{
        display: none;
    }
}

@media  screen and (max-width: 1440px) {
    .d_none_1440{
        display: none;
    }
}

@media  screen and (max-width: 1248px) {
    .d_none_1248{
        display: none;
    }

    .d_block_1248{
        display: block;
    }

    .w_100_1248{
        width: 100%;
    }

    .flex_section_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .flex_section_3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 55vh;
    }

    .w_75_1248{
        width: 75%;
        margin: 0 auto;
    }

    .w_100_1248{
        width: 100%;
        margin: 0 auto;
    }

    .mb_56_1248{
        margin-bottom: 8px;
    }

    .mb_1248{
        margin-bottom: 25px;
    }

    .mb_0_1248{
        margin-bottom: 0px;
    }

    .mt_24_auto_1248{
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        margin-bottom: 24px;
    }


}

@media  screen and (max-width: 1128px) {
    .d_none_1128{
        display: none;
    }

}

@media  screen and (max-width: 1074px) {
    .d_none_1074{
        display: none;
    }

}

@media  screen and (max-width: 1024px) {
    .d_none_1024{
        display: none;
    }
}

@media  screen and (max-width: 950px) {
    .d_none_950{
        display: none;
    }

    .fs_1_04_950{
        font-size: 1.4rem;
    }

    .w_200px_950{
        width: 200px;
    }

    .fs_2_05_custom{
        font-size: 2.5rem;
    }

    .fs_1_08_custom{
        font-size: 1.8rem;
    }

    .fs_08_custom{
        font-size: 0.8rem;
    }

    

    .mt-40_950{
        margin-top: 16px;
    } 
    
    .pt-16_950{
        padding-top: 8px;
    } 
    
    .pb-16_950{
        padding-bottom: 8px;
    } 
    
    .pl-24_950{
        padding-left: 16px;
    } 
    
    .pr-24_950{
        padding-right: 16px;
    }

    .ml-16_950{
        margin-left: 10px;
    }

    .mlr_auto_950{
        margin: 0;
    }

    .mlr_0_auto_950{
        margin: 0 auto;
        justify-content: center;
    }
}

@media  screen and (max-width: 806px) {
    .d_none_806{
        display: none;
    }

    .w_150px_806{
        width: 110px;
    }

}

@media  screen and (max-width: 769px) {
    .d_none_769px{
        display: none;
    }

    .w_100px_769{
        width: 130px;
    }
}

@media  screen and (max-width: 744px) {
    .d_none_744px{
        display: none;
    }
}

@media  screen and (max-width: 674px) {
    .d_none_674{
        display: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .jumbo_text{
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20%;
        padding: 4px 4px;
    }

    .jumbo_text_2{
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10%;
        padding: 4px 4px;
    }

}

@media  screen and (max-width: 640px) {

    .d_none_640px{
        display: none;
    }

}

@media screen and (min-width: 600px){

    .d_none_600px{
        display: none;
    }


}


@media  screen and (max-width: 560px) {

    .d_none_560px{
        display: none;
    }

    .d_block_560px{
        display: block;
    }

    .vh_130_custom{
        height: 90vh;
    }

    .vh_40_custom{
        height: 40vh;
    }

    .mt_24_560{
        margin-top: 24px;
    }

    .mt_32_560{
        margin-bottom: 232px;
    }

    .flex_section_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .flex_section_reverse{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .flex_section_4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .fs_2_custom{
        font-size: 2.5rem;
    }
    
    .fs_1_custom{
        font-size: 1rem;
    }

    .fs_05_custom{
        font-size: 0.5rem;
    }

    .w_100_560{
        width: 100%;
    }

    .w_75_560{
        width: 75%;
        margin: 0 auto;
    }

    .h_50_560{
        height: 50%;
    }

    .container_main_none_560{
        width: 100%;
    }

    select { 
        font-size: 8px; 
        color:black;
        margin-top: 10px;
        margin-bottom: 10px;
        // margin-bottom: 5px;  
        margin-left: 300px; 
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        // border-radius: 8px; 
        // -moz-border-radius: 8px; 
        // -webkit-border-radius: 8px; 
        -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #eaeaea inset; 
        -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #eaeaea inset; 
        box-shadow: 0 3px 0 #ccc, 0 -1px #eaeaea inset; 
        // background: border:none; outline:none;
        background-image: url('/src/assets/img/bars-solid.svg');
        background-size: cover;
        background-position: center;
        display: inline-block; -webkit-appearance:none; 
        -moz-appearance:none; appearance:none; cursor:pointer; 
   }  

}

@media  screen and (max-width: 480px) {

    select {
        font-size: 8px; 
        color:black;
        margin-top: 10px;
        margin-bottom: 10px;  
        margin-left: 300px; 
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        // border-radius: 8px; 
        // -moz-border-radius: 8px; 
        // -webkit-border-radius: 8px; 
        -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #eaeaea inset; 
        -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #eaeaea inset; 
        box-shadow: 0 3px 0 #ccc, 0 -1px #eaeaea inset; 
        // background: border:none; outline:none;
        background-image: url('/src/assets/img/bars-solid.svg');
        background-size: cover;
        background-position: center;
        display: inline-block; -webkit-appearance:none; 
        -moz-appearance:none; appearance:none; cursor:pointer; 
   }  

    .d_none_480px{
        display: none;
    }

    .d_block_480px{
        display: block;
    }

    .w_100px_480{
        width: 80px;
    }

}


@media  screen and (max-width: 400px) {
    select { 
        font-size: 8px; 
        color:black;
        margin-top: 10px;
        margin-bottom: 10px;  
        margin-left: 300px; 
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        // border-radius: 8px; 
        // -moz-border-radius: 8px; 
        // -webkit-border-radius: 8px; 
        -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #eaeaea inset; 
        -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #eaeaea inset; 
        box-shadow: 0 3px 0 #ccc, 0 -1px #eaeaea inset; 
        // background: border:none; outline:none;
        background-image: url('/src/assets/img/bars-solid.svg');
        background-size: cover;
        background-position: center;
        display: inline-block; -webkit-appearance:none; 
        -moz-appearance:none; appearance:none; cursor:pointer; 
   }  
    
    .d_none_400{
        display: none;
    }

    .d_block_400px{
        display: block;
    }
}